<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Wordie</title>
	<script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-700">
	<div class="max-w-2xl mx-auto my-10" id="wordie">
		<div class="text-center text-2xl font-black text-yellow-400 mb-5">WORDIE</div>

		<div class="max-w-md mx-auto mb-10">
			<div v-for="(num, guess) in 6" class="flex justify-evenly mb-3">
				<div v-for="(num2, letter) in 5" class="text-white border-2 border-gray-500 w-14 h-14 shadow-md flex justify-center items-center uppercase font-bold" 
					:class="{ 
						'bg-green-600': (guesses[guess][letter]  || { status: null }).status === 'correct', 
						'bg-amber-600': (guesses[guess][letter]  || { status: null }).status === 'position',
						'bg-gray-600': (guesses[guess][letter]  || { status: null }).status === 'wrong',
					}">
					{{ (guesses[guess][letter] || { letter: '' }).letter }}
				</div>
			</div>
		</div>
		
		<div>
			<div v-for="row of lettersRow" class="flex justify-center">
				<button v-for="letter of row" @click="selectLetter(letter)" type="button" class="font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2 bg-slate-600 text-white border-slate-600 hover:bg-slate-700 hover:border-slate-600 disabled:bg-slate-700" :disabled="letters[letter]">{{ letter }}</button>
			</div>

			<div class="flex justify-center">
				<button @click="enter" type="button" class="font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2 bg-slate-600 text-white border-slate-600 hover:bg-slate-700 hover:border-slate-600 disabled:bg-slate-700">Enter</button>

				<button @click="backspace" type="button" class="ffont-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2 bg-slate-600 text-white border-slate-600 hover:bg-slate-700 hover:border-slate-600 disabled:bg-slate-700">
					<svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2M3 12l6.414 6.414a2 2 0 001.414.586H19a2 2 0 002-2V7a2 2 0 00-2-2h-8.172a2 2 0 00-1.414.586L3 12z"></path></svg>
				</button>
			</div>
		</div>

		<div class="text-center text-gray-400 text-sm mt-10"><a href="https://github.com/stuartajd/wordie">Wordie</a>, created by <a href="https://www.stuartd.co.uk">StuartD</a>. Inspired by <a href="https://www.powerlanguage.co.uk/wordle/" target="blank">Wordle</a>. Todays wordie key: #{{todaysKey}}</div>
	</div>

	<script src="https://unpkg.com/vue@next"></script>
	<script src="wordies.js"></script>
	<script>
		const Wordie = {
			data() {
				return {
					wordies: possibleWordies,
					move: 0,
					showResultLine: 1,
					hasGuessedWordie: false,
					guesses: [
						[], [], [], [], [], []
					],
					lettersRow: [
						['Q', 'W', 'E', 'R', 'T', 'Y', 'U', 'I', 'O', 'P'], 
						['A','S','D','F','G','H','J','K','L'], 
						['Z', 'X', 'C', 'V', 'B', 'N', 'M']
					],
					letters: {
						A: false,
						B: false,
						C: false,
						D: false,
						E: false,
						F: false,
						G: false,
						H: false,
						I: false,
						J: false,
						K: false,
						L: false,
						M: false,
						N: false,
						O: false,
						P: false,
						Q: false,
						R: false,
						S: false,
						T: false,
						U: false,
						V: false,
						W: false,
						X: false,
						Y: false,
						Z: false
					}
				}
			},
			mounted() {
				// Check if they have completed todays wordie.
				const wordieStorage = JSON.parse(localStorage.getItem('wordie'));
				if(wordieStorage[this.todaysKey]){
					// Has the storage key for today.
					const todaysGuesses = wordieStorage[this.todaysKey];
					this.guesses = todaysGuesses.guesses;
					this.hasGuessedWordie = hasGuessedWordie;
				}
			},
			methods: {
				selectLetter(letter){
					/// No more moves remaining
					if(this.move >= 6) return;

					// Get the current guess
					const currentGuess = this.guesses[this.move];
					if(currentGuess.length >= 5) return;

					// Add the new letter to the end.
					currentGuess.push({
						letter: letter.toUpperCase(),
						status: null,
					});
				},
				enter() {
					if(this.guesses[this.move].length !== 5) return;

					// Check if the word is valid.
					const fullWord = this.guesses[this.move].join('');
					if(!this.wordies.includes(fullWord.toLowerCase())) return alert('Not a real word!');

					this.guesses[this.move].forEach((letter, index) => {
						this.check(index, letter);
						this.letters[letter.letter] = true;
					});

					// Check if the word guessed matches the wordie!
					const isCorrectGuess = this.guesses[this.move].map(el => el.letter).join('') === this.todaysWordie;
					if(isCorrectGuess) {
						this.hasGuessedWordie = true;
						
						alert(`Congrats! You've found todays wordie: ${this.todaysWordie}. Come back tomorrow for another wordie.`);

						this.move = 6;
					}	
					
					// Show the results for the moves. 
					this.showResultLine += 1;

					// Increment the move column
					this.move += 1;
				},
				backspace(){
					this.guesses[this.move].pop();
				},
				check(index, choice){
					const correctPosition = this.todaysWordie[index] === choice.letter;
					const correctLetter = this.todaysWordie.includes(choice.letter);
					const hasMultipleOccurances = this.todaysWordie.split(choice.letter).length - 1;
					const hasFoundAlready = this.guesses[this.move]
						.find((findLetter, findIndex) => findLetter.letter === choice.letter && index !== findIndex);

					// Letter in the correct place, mark as success
					if(correctPosition) return choice.status = 'correct';

					// Letter in the wrong place & already detected as complete.
					if(correctLetter && !correctPosition && !hasMultipleOccurances && hasFoundAlready) return 'wrong';

					// Letter in the wrong place & not already detected.
					if(correctLetter && !correctPosition && !hasFoundAlready) return choice.status = 'position';

					return choice.status = 'wrong';
				}
			},
			computed: {
				todaysKey() {
					// Days since 1st Feb 2022.
					const startDate = new Date(2022,1,1,0,0,0,0).getTime();
					const todaysDate = new Date().setUTCHours(0,0,0,0);
					return (todaysDate - startDate) / (1000 * 3600 * 24);
				},
				todaysWordie() {
					return this.wordies[this.todaysKey].toUpperCase();
				}
			}
		};

		Vue.createApp(Wordie).mount('#wordie');
	</script>
</body>
</html>